body {
  background-color:#fefefe;
  max-width:800px;
  margin:0 auto;
  padding:70px 20px 0;
  font-family:"Asap",Palatino,"Hoefler Text",Georgia,serif;font-size:19px;
  line-height:28px;
  color:#333334;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding:20px 20px 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    line-height: 30.800000000000004px;
}

.spaced {
  margin: 25px 25px 25px 25px; 
}

.icon-small {
  font-size: 25%;
  vertical-align: middle;
}

div.footer a                { color: #888; font-weight: bold;}
div.footer p                { margin: 0 auto; }

div.social                  { padding-top: 20px; padding-bottom: 10px;}
div.social a                { color: #888; text-decoration: none;}
div.social a:hover          { color:#337AB7;}
div.social ul               { margin: 0; padding: 5px 0 15px 0px; list-style: none; }
div.social ul li            { display: inline; margin: 0 2px; padding: 10px; }