
{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="center-block"> 
      <div class="jumbotron" style="background:white;height:200px"> 
          <img style="float:right;vertical-align:middle;" width=200px src="{{ url_for('static', filename='img/ton_gist_rainbow_O.png') }}">
          <p>
            <h1 style="padding:130px 0 0 0;">Łukasz Mentel</h1>
           <span class="text-muted">computational chemist // developer </span>
          </p>
      </div> 
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

    <hr>

    <p>
      <h2>Welcome!</h2>
    </p>
    
    <p>
    I'm a theoretical chemist working currently in th Catalysis Group at the
    <a href="http://www.uio.no">University of Oslo</a> in Norway.
    The main focus of my current scientific efforts if to develop quantitative
    models relating the structure of the zeotype acid catalysts to their catalytic
    activity.
    </p>

    <p>
    Previously I worked at the <a href="http://www.chem.vu.nl/en/research/division-theoretical-chemistry/">
    Section of Theoretical Chemistry</a> at the <a href="http://vu.nl/en/index.aspx">VU University Amsterdam</a> in the Netherlands,
    where I did my <a href="{{ url_for('page', path='2015-07-01-phd-thesis-completed') }}">PhD Thesis</a> exploring the
    use of Reduced Density Matrices in electronic structure calculations.
    </p>

    <p>
    I am also a big computer enthusiast especially when it comes to <a href="https://python.org">Python</a>
    programming. I use <a href="https://python.org">Python</a> extensively in my work and also write my
    own packages, if you want to know more visit the <a href="{{ url_for('page', path='software') }}">Software</a>
    section.

    </p>

    <h2 class="page-heading">News</h2>

    <ul class="page-list">
      {% for page in pages %}
        <li><a href="{{ url_for('page', path=page.path) }}">
          {{ page.meta.title }}
          </a>- {{ page.meta.date }}</li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
